{% set summary_data = filtered_data(fatture_emesse, fatture_ricevute) %}


<div>
    <div>
        <h4>Entrate / Uscite</h4>
        <di>
            <div>
                <i class="bi bi-calendar3"></i>
                <select id="filter-select">
                    <option value="anno">Anno</option>
                    <option value="oggi">Oggi</option>
                    <option value="ieri">Ieri</option>
                    <option value="ultimi_7_giorni">Ultimi 7 giorni</option>
                    <option value="ultimi_30_giorni">Ultimi 30 giorni</option>
                    <option value="questo_mese">Questo mese</option>
                    <option value="trimestre">Trimestre</option>
                    <option value="personalizzato">Personalizzato</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <canvas id="invoicesPieChart"></canvas>
    </div>
    <div>
        <table>
            <thead>
                <th>Emesso</th>
                <th>Ricevuto</th>
                <th>Saldo</th>
            </thead>
            <tbody>
                <tr>
                    <td>€ {{ summary_data.emesso.total }}</td>
                    <td>€ {{ summary_data.ricevuto.total }}</td>
                    <td>€ {{ summary_data.saldo.total }}</td>
                </tr>
                <tr>
                    <td>IMP:</td>
                    <td>€ {{ summary_data.emesso.imp }}</td>
                    <td>IMP:</td>
                    <td>€ {{ summary_data.ricevuto.imp }}</td>
                    <td>IMP:</td>
                    <td>€ {{ summary_data.saldo.imp }}</td>
                </tr>
                <tr>
                    <td>IVA:</td>
                    <td>€ {{ summary_data.emesso.iva }}</td>
                    <td>IVA:</td>
                    <td>€ {{ summary_data.ricevuto.iva }}</td>
                    <td>IVA:</td>
                    <td>€ {{ summary_data.saldo.iva }}</td>
                </tr>
                <tr>
                    <td>RIS:</td>
                    <td>€ {{ summary_data.emesso.ris }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>RIM:</td>
                    <td>€ {{ summary_data.emesso.rim }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
      <p>
        Statistiche entrate/uscite
      </p>
    </div>
</div>