{% set fatture_length = fatture_emesse|length %}
{% set fatture_inviati = filter_by_status(fatture_emesse, 'inviato') %}
{% set total_inviato = calculate_total_price(fatture_emesse, 'inviato') %}
{% set fatture_scartati = filter_by_status(fatture_emesse, 'scartato') %}
{% set total_scartato = calculate_total_price(fatture_emesse, 'scartato') %}
{% set fatture_consegnati = filter_by_status(fatture_emesse, 'consegnato') %}
{% set total_consegnato = calculate_total_price(fatture_emesse, 'consegnato') %}
{% set fatture_pagati = filter_by_status(fatture_emesse, 'pagato') %}
{% set total_pagato = calculate_total_price(fatture_emesse, 'pagato') %}

<div id='fatture-emesse' class='d-flex cards'>
    <div style='height: 400px;' class='d-flex p-4 flex-column'>
        <div class='flex-justify-between fatture-title'>
            <h3 style='font-size: 17px;'>FATTURE EMESSE</h3>
            <h1>{{ fatture_length }}</h1>
        </div>
        <div class='fatture-overview'>
            <div style='border-bottom: 1px solid #e4e5e7;' class='d-flex flex-column'>
                <h3 class="text-success">{{ fatture_inviati|length }}</h3>
                <div class='flex-justify-between'>
                    <p>Inviati</p>
                    <div>
                        <span class="text-info">€ {{ total_inviato }}</span>
                        |
                        {{ (fatture_inviati|length / fatture_length * 100)|number_format(1) }}%
                    </div>
                </div>
            </div>
            <div style='border-bottom: 1px solid #e4e5e7;' class='d-flex flex-column'>
                <h3>{{ fatture_scartati|length }}</h3>
                <div class='flex-justify-between'>
                    <p>Scartati</p>
                    <div>
                        <span class="text-info">€ {{ total_scartato }}</span>
                        |
                        {{ (fatture_scartati|length / fatture_length * 100)|number_format(1) }}%
                    </div>
                </div>
            </div>
            <div style='border-bottom: 1px solid #e4e5e7;' class='d-flex flex-column'>
                <h3>{{ fatture_consegnati|length }}</h3>
                <div class='flex-justify-between'>
                    <p>Consegnati</p>
                    <div>
                        <span class="text-info">€ {{ total_consegnato }}</span>
                        |
                        {{ (fatture_consegnati|length / fatture_length * 100)|number_format(1) }}%
                    </div>
                </div>
            </div>
            <div class='d-flex flex-column'>
                <h3 class="text-success">{{ fatture_pagati|length }}</h3>
                <div class='flex-justify-between'>
                    <p>Pagati</p>
                    <div>
                        <span class="text-info">€ {{ total_pagato }}</span>
                        |
                        {{ (fatture_pagati|length / fatture_length * 100)|number_format(1) }}%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='card-footer-div'>Resoconto fatture emesse</div>
</div>