<table id='table-clients-list' class='table table-bordered table-striped'>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Telefono</th>
            <th>Codice Fiscale</th>
            <th>Email</th>
            <th>
                Modificato
                <i class="bi bi-arrow-down-up"></i>
                <i class="bi bi-sort-down"></i>
                <i class="bi bi-sort-down-alt"></i>
            </th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients_data %}
            <tr>
                <td>{{ client.nome }}</td>
                <td>{{ client.telefono }}</td>
                <td>{{ client.codice_fiscale }}</td>
                <td>{{ client.email }}</td>
                <td style='text-align: center;'>{{ client.data_modifica }}</td>
                <td style='text-align: center;'>
                    <button type='button' class='btn btn-info btn-xs'><i class="bi bi-eye-fill text-white"></i></button>
                    <button type='button' class='btn btn-danger btn-xs'><i class="bi bi-x-lg text-white"></i></button>
                    <button type='button' class='btn btn-primary btn-xs'><i class="bi bi-gear-fill text-white"></i></button>
                    {# <select id="filter-select">
                        <option value=""></option>
                        <option value="nuova_fattura">Nuova fattura</option>
                        <option value="storico_fatture">Storico fatture</option>
                    </select> #}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>